.container {
    gap: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    margin: 80px 0 14px;
}

.link {
    padding: 0;
}
