.aside {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.link {
    height: 64px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: flex-start;
}
