.modal_overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(2px);
}
