.profile {
    gap: 60px;
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
    margin-right: calc(320px + 60px);
}

.profile_main {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
