.profile {
    gap: 60px;
    display: flex;
    margin-right: calc(320px + 60px);
}

.profile_main {
    margin-top: 120px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.buttons {
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
