.container{
    flex: 1;
}
.tab{
    display: flex;
}
.ingredients{
    gap: 40px;
    display: flex;
    overflow: auto;
    flex-direction: column;
    height: calc(100% - 59.9px - 56px - 40px);

    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
}

.ingredients_container{
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.cards{
    gap: 24px;
    display: grid;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr;
}