.feed {
    gap: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.feed__content {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: calc(100% - 60px);
}
.feed__orders {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    padding: 0 16px 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.feed-order {
    gap: 24px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 40px;
    background-color: #1c1c21;
    box-shadow: 0px 0px 1px 0px #0000000a;
    box-shadow: 0px 0px 2px 0px #0000000f;
    box-shadow: 0px 4px 8px 0px #0000000a;
}
.feed-order__header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.feed-order__details {
    justify-content: space-between;
    display: flex;
}
.feed-order__ingredients {
    display: flex;
    flex-direction: row;
}
.feed-order__ingredient__image_border {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -16px;
    &:first-child {
        margin-left: 0;
    }
    position: relative;
}
.feed-order__ingredient__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background: #131316;
}
.feed-order__ingredient__more {
    display: flex;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: #000000ac;
}
.feed-order__ingredient__image_border:nth-child(1) {
    z-index: 6;
}
.feed-order__ingredient__image_border:nth-child(2) {
    z-index: 5;
}
.feed-order__ingredient__image_border:nth-child(3) {
    z-index: 4;
}
.feed-order__ingredient__image_border:nth-child(4) {
    z-index: 3;
}
.feed-order__ingredient__image_border:nth-child(5) {
    z-index: 2;
}
.feed-order__ingredient__image_border:nth-child(6) {
    z-index: 1;
}
.feed-order__price {
    gap: 8px;
    display: flex;
    align-items: center;
}
.feed-results {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.feed-results__statuses {
    justify-content: space-between;
    display: flex;
    gap: 16px;
}
.feed-results__statuses_column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.feed-results__orders {
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.feed-results__orders_ready {
    color: #00cccc;
}
.feed-results__total {
    display: flex;
    flex-direction: column;
}
.feed-results__shadow {
    text-shadow: 0px 4px 32px #3333ff80;
}
