.header {
    display: flex;
    justify-content: center;
    background-color: #1C1C21;
}
.header_content{
    width: 100%;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
}
.header_left {
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}